<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/personal_layout}" >

<th:block layout:fragment="content_css">
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>
<body>
    
<th:block layout:fragment="contentFragment">

    <!-- 공지사항 게시글 수정 -->
    <form action="/board/updateNotice" method="post">
        <div class="row">
            <div class="col">
                <h3>공지사항 게시글 수정</h3>
                <input type="hidden" name="boardNum" th:value="${notice.boardNum}">
                <table class="notice-list-table table table-striped table-hover text-center align-middle">
                    <colgroup>
                        <col width="30">
                        <col width="*">
                    </colgroup>
                        <tr>
                            <td>제목</td>
                            <td>
                                <input type="text" name="boardTitle" th:value="${notice.boardTitle}">
                            </td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td>
                                <input type="text" name="boardContent" th:value="${notice.boardContent}">
                            </td>
                        </tr>
                </table>
            </div>
        </div>
        <div>
            <input type="submit" value="수정 완료" class="btn btn-primary">
        </div>
    </form>
    
</th:block>

<th:block layout:fragment="content_js">
    <script src="/js/board.js"></script>
</th:block>
</html>