<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/personal_layout}" >

<th:block layout:fragment="content_css">
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>
<body>
    
<th:block layout:fragment="contentFragment">
    <!-- 공지사항 글 상세조회 -->
    <div class="row">
        <div class="col">
            
        </div>
    </div>

    <!-- <input type="button" value="뒤로가기" onclick="history.back(-1)">
    <input type="button" value="뒤로가기" onclick="location.href='/board/list'"> -->





</th:block>

<th:block layout:fragment="content_js">
    <!-- <script src="/js/board.js"></script> -->
</th:block>
</html>