<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>
<body>
    

    <!-- <th:if test="${notice.imgList != null and notice.imgList.size() > 0}">
        <th:block th:each="img, imgIndex : ${notice.imgList}">
            <h4 th:text="'첨부파일' + ${imgIndex.index + 1}"></h4>
            <a th:href="@{/board/noticeDetail(boardNum=${notice.boardNum})}">
                <img width="100%" th:src="@{'/upload/' + ${img.attachedFileName}}">
            </a>
        </th:block>
    </th:if> -->



<th:block layout:fragment="contentFragment">
    <!-- 공지사항 글 상세조회 -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover text-center align-middle">
                    <colgroup>
                        <col width="20">
                        <col width="*">
                    </colgroup>
                        <tr>
                            <td>제목</td>
                            <td class="text-start">[[${notice.boardTitle}]]</td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td class="text-start">
                                <div class="row">
                                    <div class="col">
                                        <th:block th:if="${notice.imgList != null and notice.imgList.size() > 0}">
                                            <th:block th:each="img, imgIndex : ${notice.imgList}">
                                                <th:block th:if="${imgIndex.index lt 2}">
                                                    <h4 th:text="'첨부파일' + ${imgIndex.index + 1}"></h4>
                                                    <a th:href="@{/board/noticeDetail(boardNum=${notice.boardNum})}">
                                                        <img width="100%" th:src="@{'/upload/' + ${img.attachedFileName}}">
                                                    </a>
                                                </th:block>
                                            </th:block>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="word-break:break-all">
                                        [[${notice.boardContent}]]
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>조회수</td>
                            <td class="text-start">[[${notice.boardCnt}]]</td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col d-grid">
                <input type="button" value="목 록" class="btn btn-primary" onclick="location.href='/board/noticeList'">
            </div>
            <div class="col d-grid">
                <input type="button" value="수 정" class="btn btn-primary" th:onclick="goUpdateNotice([[${notice.boardNum}]])">
            </div>
            <div class="col d-grid">
                <input type="button" value="삭 제" class="btn btn-primary" th:onclick="goDeleteNotice([[${notice.boardNum}]])">
            </div>
        </div>

        <!-- 문의사항 이전글 / 다음글 조회 -->
    <div class="mb-5">
        <table class="table table-striped table-hover text-center align-middle">
            <!-- 이전글 -->
            <tr th:if="${prevPage != null}">
                <td>이전글</td>
                <td>
                    <a th:href="@{/board/qnaDetail(boardNum=${prevPage.boardNum})}" th:text="${prevPage.boardTitle}">
                        이전글 제목
                    </a>
                </td>
            <tr th:if="${prevPageNotFound}">
                <td>이전글</td>
                <td>이전 글이 없습니다.</td>
            </tr>
            <!-- 다음글 -->
            <tr th:if="${nextPage != null}">
                <td>다음글</td>
                <td>
                    <a th:href="@{/board/qnaDetail(boardNum=${nextPage.boardNum})}" th:text="${nextPage.boardTitle}">
                        다음글 제목
                    </a>
                </td>
            </tr>
            <tr th:if="${nextPageNotFound}">
                <td>다음글</td>
                <td>다음 글이 없습니다.</td>
            </tr>
        </table>
    </div>

</th:block>


<th:block layout:fragment="content_js">
    <script src="/js/board.js"></script>
</th:block>
</html>