<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/personal_layout}" >

<th:block layout:fragment="content_css">
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>
<body>

<th:block layout:fragment="contentFragment">

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- <script src="/"></script> -->
</th:block>

