<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>
<body>

<th:block layout:fragment="contentFragment">
    <!-- 문의사항 게시물 작성 폼 -->
    <div class="row">
        <div class="col">
            <form action="/board/qnaWrite" method="post">
                <div class="row">
                    <div class="col">
                        제목
                        <input type="text" name="boardTitle">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        열람 대상
                        <input type="radio" name="typeNum" value="3">학생
                        <input type="radio" name="typeNum" value="4">강사
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        내용
                        <textarea name="boardContent" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" value="게시">
                    </div>
                </div>
            </form>
        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- <script src="/"></script> -->
</th:block>

