<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>
<body>

<th:block layout:fragment="contentFragment">
    <!-- 문의사항 게시물 작성 폼 -->

    <div class="row" style="padding-top: 10px; padding-left: 25px; padding-right: 25px;">
        <div class="col">
            <div class="row mb-3">
                <div class="col d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-question-circle-fill text-success mt-1" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                    </svg>
                    <h2 style="font-weight: bold; margin-left: 10px;">문의사항</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="/board/qnaWrite" method="post" id="qna_reg">
                        <input id="typeNum" type="hidden" name="typeNum" value="3">
                        <table class="table text-center align-middle border-success">
                            <colgroup>
                                <col width="20%"> 
                                <col width="80">
                            </colgroup>
                            <tr class="border-top border-success">
                                <td>제목</td>
                                <td>
                                    <input id="boardTitle" type="text" name="boardTitle" class="form-control">
                                    <input type="hidden" name="pageNum">
                                </td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>
                                    <textarea id="boardContent" name="boardContent" cols="30" rows="10" class="form-control"></textarea>
                                </td>
                            </tr>
                        </table>
                        <div class="row mt-5">
                            <div class="col-4"></div>
                            <div class="col-4 d-grid text-center">
                                <input type="button" class="btn btn-outline-secondary btn-lg rounded-0" value="게시" onclick="qnaReg();">
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="row">
        <div class="col">
            <form action="/board/qnaWrite" method="post" id="qna_reg">
                <input id="typeNum" type="hidden" name="typeNum" value="3">
                <div class="row mb-5">
                    <div class="col">
                        제목
                        <input id="boardTitle" type="text" name="boardTitle" class="form-control">
                        <input type="hidden" name="pageNum">
                    </div>
                </div>
                    <div class="col">
                        내용
                        <textarea id="boardContent" name="boardContent" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <input type="button" class="btn btn-primary" value="게시" onclick="qnaReg();">
                    </div>
                </div>
            </form>
        </div>
    </div> -->

</th:block>

<th:block layout:fragment="content_js">
    <script src="/js/board.js"></script>
</th:block>

