<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/layout파일명기입}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
<style>
 .row,.col { border: 1px solid black;}

</style>

 <div class="row">
    <div class="col">
            <div class="row">
                <div class="col-2">No</div> 
                <div class="col-2">평가명</div>
                <div class="col-2">평가일자</div>
                <div class="col-2">평가점수</div>
                <div class="col-2">반평균</div>
                <div class="col-2">석차</div>
            </div>

            <div class="row">
                <div class="col-2">1</div> 
                <div class="col-2">한국사</div>
                <div class="col-2">2024-02-26</div>
                <div class="col-2">91</div>
                <div class="col-2">83</div>
                <div class="col-2">2/30</div>
            </div>
    </div>
 </div>





</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/"></script>
</th:block>
</html>