<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드작성 -->

    

    <div class="row">
        <div class="col">
                
            <div class="row">
                <div class="col">
                        <div class="row mb-3">
                            <div class="col">
                                <h3>[[${testNumInfo.testName}]]</h3>>
                            </div>
                            <div class="col">
                                <input type="button" value="직접입력">
                            </div>
                        </div>
                        <div class="row" style="font-size:20px ;">
                            <div class="col-3">
                                이름
                            </div>
                            <div class="col-3">
                                점수입력
                            </div>
                        
                        </div>
                </div>   
            </div>


        <form action="/test/insertStuScore" method="post">

            <input type="hidden" name="testNum" th:value="${testNumInfo.testNum}">

            <div class="row">
                <div class="col">
                        <div class="row mb-3">
                            <div class="col-3">
                                <select name="memberId" class="form-select form-select-lg mb-3" style="font-size: 20px;">
                                    <option th:each=" selectStu : ${memNumInfo}" th:value="${selectStu.memberId}">[[${selectStu.memberName}]]</option>
                                </select>
                            </div>
                            <div class="col-3">
                               
                                <input type="text" name="score" class="form-control form-control-lg" style="width:300px;"  placeholder="점수를 입력하세요.">
                            </div>
                            
                            <div class="col-3">
                                <input type="submit" value="등록" class="btn btn-secondary">
                            </div>
                        </div>
                        <div class="row" style="width:700px; text-align: end;">
                            <div class="col" style="font-size:15px; color: red; font-weight: 15px; ">
                                * 재등록시 수정을 눌러주세요.
                            </div>
                        </div>                    
                </div>
            </div>
        </form>    
                        <div class="row">
                            <div class="col">

                                <div class="row">
                                    <div class="col">
                                        학생 점수 상세사항
                                    </div>
                                    <div class="col" id="changeBtnDiv">
                                        <input type="button" value="수정" id="updateScorBtn" class="btn btn-secondary" th:onclick="goUpdateScores([[${testNumInfo.testNum}]])">

                                    </div>



                                </div>
                                <div class="row">
                                    <div class="col">
                                        <form id="myform" action="/test/updateScore" method="post">
                                            <input type="hidden" name="testNum" th:value="${testNumInfo.testNum}">
                                            <table class="table  table-striped" style="font-size: 20px; width:700px;">
                                                <colgroup>
                                                    <col width="25%">
                                                    <col width="25%">
                                                    <col width="25%">
                                                    <col width="25%">
                                                </colgroup>
                                                <thead>
                                                    <th>이름</th>
                                                    <th>성적</th>
                                                    <th>만점</th>
                                                    <th>석차</th>
                                                </thead>
                                            
                                                <tbody class="upScoreTbody">
                                                    <tr th:each=" classScore : ${classScoresList}">
                                                        <td>
                                                            [[${classScore.memberOneVO.memberName}]]
                                                        </td>
                                                        <td class="selectScoreTd">
                                                            [[${classScore.score}]]
                                                        </td>
                                                        <td>
                                                            [[${classScore.testOneVo.testMaxScore}]]
                                                        </td>
                                                        <td>
                                                            [[${classScore.ranking}]]
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table> 
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>




        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/test/teacher_score.js"></script>
</th:block>
</html>