<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드작성 -->
    <style>
        .trLine,th {border: 2px solid rgba(58, 111, 228, 0.281); }
        th{--bs-table-bg:  rgb(223, 238, 253); --bs-table-color: rgb(22, 58, 136); text-align: center;}
    </style>


    <div class="row">
        <div class="col">

            <div class="row mb-4" style="width:1000px;">
                <div class="col" style="color: white; background-color:rgb(28, 28, 78); border-bottom: 10px solid rgb(23, 141, 156); font-size:25px;">
                    <h4><strong>성적 이의신청 처리</strong></h4>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <table style=" width: 900px; border: 2px solid rgb(156, 156, 156); background-color: rgb(247, 245, 245);">
                        <tr><td>&nbsp;-부적절한 이의신청은 부정 청탁 및 금풍 등 수수의 금지에 관한 법률에 조촉되므로 불이익 처분을 받지 유의합니다.</td></tr>
                        <tr><td>&nbsp;-이의신청게시판 외 등록된 이의신청 내용은 반영하지 않습니다.</td></tr>
                        <tr><td>&nbsp;-단순히 성적을 올리기 위한 호소글은 성적 조정에 반영하지 않습니다.</td></tr>
                        <tr><td>&nbsp;-교.강사에 대한 인격모독, 비방글은 사전 공지 없이 삭제할 수 있습니다.</td></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table" style="width: 800px;">
                        <tr class="trLine">
                            <th>번호</th>
                            <th>제목</th>
                            <th>신청자</th>
                            <th>시험명</th>
                            <th>수강명</th>
                            <th>작성일</th>
                        </tr>
                        <tr class="trLine" th:each=" thTestAsk : ${thTestAskList}">
                            <td class="trLine" style="text-align: center;">[[${thTestAsk.protestNum}]]</td> 
                            
                            <th:block th:if="${thTestAsk.protestGroupno!=0}"> 
                                <td class="trLine"> <strong style="color: red;">&nbsp; &nbsp; &nbsp; RE:</strong><span style="cursor: pointer;" th:onclick="goDetail([[${thTestAsk.protestNum}]],[[${thTestAsk.teacherId}]])">[[${thTestAsk.protestTitle}]]</span></td>
                            </th:block>
                            <th:block th:if="${thTestAsk.protestGroupno==0}">
                                <td class="trLine"><span style="cursor: pointer;" th:onclick="goDetail([[${thTestAsk.protestNum}]],[[${thTestAsk.teacherId}]])">[[${thTestAsk.protestTitle}]]</span></td>
                            </th:block>

                            <td class="trLine">[[${thTestAsk.memberN}]]</td>
                            <td class="trLine">[[${thTestAsk.testN}]]</td>
                            <td class="trLine">[[${thTestAsk.classN}]]</td>
                            <td class="trLine" style="text-align: center;">[[${thTestAsk.protestDate}]]</td>
                        </tr>
                    </table>
                </div>
            </div>
        
        
        </div>
    </div>


<script>
function goDetail(protestNum,memberId){
    location.href='/stuTest/stuAskDetail?protestNum='+protestNum +'&memberId='+memberId;
}

</script>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>