<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행 되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성-->
    <!-- 선생님!!! 여기가 팀파일 -->
    
    
    <div>

        <div class="row">
            <div class="col">
                <h4>성적처리 수강반 목록</h4>
                    <table class="table text-center">
                        <colgroup>
                            <col width="10%">
                            <col width="30%">
                            <col width="10%">
                            <col width="30%">               
                            <col width="20%">
                        </colgroup>
                        <tr>
                            <td>번호</td>
                            <td>수강명</td>
                            <td>총인원</td>
                            <td>수강기간</td>
                            <td>입력여부</td>
                        </tr>

                        <tr th:each= "classInfo : ${classList}">
                            <td>[[${classInfo.classNum}]]</td>
                            <td><span class="point-span" th:onclick="goScore([[${classInfo.classNum}]])" >[[${classInfo.className}]]</span></td>
                            <td>[[${classInfo.classPersonnel}]]</td> 
                            <td>[[${classInfo.classSdate}]]-[[${classInfo.classEdate}]]</td>
                            <td>
                                <input type="radio" th:value="${classInfo.classEnter}" checked>수강중
                                <input type="radio" >종강

                            </td>
                        </tr>

                        
                    </table>
                    
            </div>
        </div>
        

        <div class="row">
            <div class="col">    
                <h4>평가입력 현황</h4>
                <table class="table text-center">
                    <colgroup>
                        <col width="10%">
                        <col width="20%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="20%">
                    </colgroup>
                    <tr>
                        <td>No</td>
                        <td>수강명</td>
                        <td>100 ~ 90점</td>
                        <td>89 ~ 80점</td>
                        <td>79 ~ 70점</td>
                        <td>69 ~ 0점</td>
                        <td>총인원</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>한국사</td>
                        <td>2</td>
                        <td>10</td>
                        <td>7</td>
                        <td>1</td>
                        <td>30</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>사회복지와 다양성</td>
                        <td>2</td>
                        <td>10</td>
                        <td>17</td>
                        <td>1</td>
                        <td>40</td>
                    </tr>
                </table>
            </div>
        </div>
</div>

<script>

    function goScore(classNum){
        location.href='/test/scoreTeacher?classNum='+classNum;
    };

</script>


</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행 되는 js-->
    
   

</th:block>
</html>



