<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행 되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성-->
    
    성적 이의 신청 처리 화면입니다!!!

    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    <h3>성적 이의 신청 처리</h3>
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <div class="row">
                        <div class="col">
                            <h5>성적처리 대상 시험 목록</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table-blank text-center align-middle">
                            <colgroup>
                                <col width="5%">
                                <col width="15%">                              
                                <col idth="20%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="20%">
                            </colgroup>
                                <tr>
                                    <th>순번</th>
                                    <th>반명</th>
                                    <th>시험명</th>
                                    <th>수강인원</th>
                                    <th>이의신청건수</th>
                                    <th>처리건수</th>
                                    <th>미처리건수</th>
                                    <th>비고</th>
                                </tr>

                                
                                <tr>
                                    <td >1</td>
                                    <td>스포츠지도자11</td>                                  
                                    <td>1월 모의고사</td>
                                    <td>30</td>
                                    <td>4</td>
                                    <td>1</td>
                                    <td>3</td>
                                    <td>
                                        <input type="button" value="성적 정정">                                   
                                        <input type="button" value="과목별 정정">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="row">

                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h4>신청 학생 목록</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td>반명</td>
                                            <td>학생번호</td>
                                            <td>학생명</td>
                                            <td>처리상태</td>
                                        </tr>
                                        <tr>
                                            <td>스포츠지도자11</td>
                                            <td>aaaa</td>
                                            <td>홍길동</td>
                                            <td>미처리</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h4>성적이의신청처리</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2">신청자정보</td>
                                            <td>학과부</td>
                                            <td>스포츠지도자11</td> 
                                            <td>학생이름</td> 
                                            <td>김자바</td>                                             
                                        </tr>
                                        <tr>
                                            <!-- <td></td> -->
                                            <td>시험번호</td>
                                            <td>111</td>
                                            <td>시험명</td>
                                            <td>1월 기말고사</td>
                                        </tr>
                                        <tr>
                                            <td>신청사유</td>
                                            <td><textarea  cols="30" rows="10" name="content">테스트입니다.</textarea></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2">처리결과</td>
                                            <td>정정불가</td>
                                            <td>
                                                <input type="radio">수정 요청 검토사항 아님
                                                <input type="radio">확인 결과 수정 대상 아님
                                                <input type="radio">기타(사유직접입력)
                                            </td>
                                        </tr>
                                        <tr>
                                            <!-- <td></td> -->
                                            <td>정정처리</td>
                                            <td><input type="radio">확인 결과 수정 처리 반영</td>
                                        </tr>
                                        <tr>
                                            <td>상세사유</td>
                                            <td><textarea  cols="30" rows="5" name="content"></textarea></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    
                    </div>

                </div>
            </div>


        </div>
    </div>




</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행 되는 js-->
    <script src="/"></script>
</th:block>
</html>