<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="adminSideFragment">

          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                  학원 일정
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                  공지사항
                  <ul>
                    <li><span class="pointer-span" onclick="location.href='/board/noticeListStu?typeNum=1'">학사 공지</span></li>
                    <li><span class="pointer-span" onclick="location.href='/board/noticeListTea?typeNum=2'">강사 공지</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                  게시판
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                  문의사항
                  <ul>
                    <li><span class="pointer-span" onclick="location.href='/board/qnaList?typeNum=3&typeNum=4'">Q&A</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  학급
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                  학급 관리
                  <ul>
                    <li><span class="pointer-span" onclick="location.href='/admin/makeClassForm'">학급 생성</span></li>
                    <li>학생 출결 관리</li>
                    <li>진도 / 수업율</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  성적/시험
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                <div class="accordion-body">
                    시험
                    <ul>
                      <li>문제 제출</li>
                      <li>일정 관리</li>
                    </ul>
                    성적
                    <ul>
                      <li>성적 조회</li>
                      <li>성적 부여</li>
                      <li>성적 추이*</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  강사 관리
                </button>
              </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                  <div class="accordion-body pointer-span" onclick="location.href='/admin/goAdminTeacher'">
                    근태 관리
                  </div>
                  <div class="accordion-body pointer-span" onclick="location.href='/admin/goMemberList'">
                    회원 관리
                  </div>
                </div>
            </div>
          </div> 
    </th:block>
</html>