<!DOCTYPE html>
<html lang="en">
    <th:block th:fragment="headerFragment">
        <div class="row" style="height: 100px;">
            <div class="col-3">
                학원 로고
            </div>
            <div class="col-6" style="font-size: 40px; font-weight: bolder;">
                ~~학원
            </div>
            <div class="col-3" style="text-align: right;">
                회원이름
                <input type="button" value="로그아웃">
            </div>
        </div>

    </th:block>
</html>