<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행 되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성-->
    <!-- 로그인 안했을 때 뜨는 창 -->
    <th:block sec:authorize="isAnonymous()">
        <div class="row">
            <div class="col-2">
                
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-6">
                        공지사항~~~
                    </div>
                    <div class="col-6">
                        학사일정~~~
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <div class="row">
            <div class="col-6">
                공지사항~~~
            </div>
            <div class="col-6">
                학사일정~~~
            </div>
        </div>
    </th:block>




</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행 되는 js-->
    <script src="/"></script>
</th:block>
</html>