<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행 되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성-->
    <div class="row">
        <div class="col-8">
            <table class="table table-striped-columns">
                <colgroup>
                    <col width="16%">
                    <col width="29%">
                    <col width="16%">
                    <col width="*%">
                </colgroup>
                <thead>
                    <tr>
                        <td colspan="4">
                            <div class="row" style="width:700px;">
                                <div class="col" style="color: white; background-color:rgb(28, 28, 78); border-bottom: 10px solid rgb(23, 141, 156); font-size:25px;">
                                    <h4><strong>나의 개인정보</strong></h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>이름</td>
                        <td>[[${memberVO.memberName}]]</td>
                        <td>아이디</td>
                        <td>[[${memberVO.memberId}]]</td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td id="memTel">[[${memberVO.memberTel}]]</td>
                        <td>@email</td>
                        <td id="memEmail">[[${memberVO.memberEmail}]]</td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td colspan="3">[[${memberVO.memberAddr}]]</td>
                    </tr>
                    <tr>
                        <td>상세 주소</td>
                        <td colspan="3">[[${memberVO.addrDetail}]]</td>
                    </tr>
                </tbody>
            </table>
            <div class="row mb-2" id="passwordInput">
                <div class="col-3">
                    <input type="button" value="개인정보 변경" class="btn btn-outline-secondary" onclick="passwordInput()">
                </div>
                <div class="col-9">
                    
                </div>
            </div>
        </div>
        <div class="col-4" id="passwordChanger">
            
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행 되는 js-->
    <script src="/js/member/myInformation.js"></script>
</th:block>
</html>