<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/teacher_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행 되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성-->
    <form action="">
        과제 만들기
        <div class="row">
            <div class="col">
                <table class="table">
                    <colgroup>
                        <col width="30%">
                        <col width="30%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                        <tr>
                            <td>
                                강의 이름
                            </td>
                            <td>
                                과제이름
                            </td>
                            <td>
                                과제 시작일
                            </td>
                            <td>
                                과제 종료일
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="1">
                                    <option value="1">1</option>
                                    <option value="1">1</option>
                                    <option value="1">1</option>
                                    <option value="1">1</option>
                                </select>
                            </td>
                            <td><input type="text" name="2"></td>
                            <td><input type="date" name="3"></td>
                            <td><input type="date" name=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행 되는 js-->
    <script src="/"></script>
</th:block>
</html>