<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행 되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성-->
    <form action="">
        <div class="row">
            <div class="col" id="today">
                <input type="date" name="" id="">
                <select name="classNum" id="class_select" onchange="change()">
                    <th:block th:each="class:${classList}">
                        <option th:value="${class.classNum}">[[${class.className}]]</option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="stu_select">
                    
                </table>
            </div>
        </div>
    </form>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행 되는 js-->
    <script src="/js/teacher/attendance.js"></script>
</th:block>
</html>