<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="admin">
    <resultMap id="operator" type="com.green.Team3.admin.vo.OperatorVO">
        <id     column="OPER_NUM"           property="operNum"/>
        <result column="OPER_PAY"       property="operPay" />
        <result column="IS_PAY"         property="isPay" />
        <result column="MEMBER_ID"    property="memberId" />
        <result column="PAY_YEAR"       property="payYear" />
        <result column="PAY_MONTH"      property="payMonth" />
        <result column="CLASS_NUM"      property="classNum" />

    </resultMap>

    <!-- 회원 권한 수정 -->
    <update id="updateRoll">
        UPDATE MEMBER
        SET MEMBER_ROLL = #{memberRoll}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <!-- Teacher 테이블 insert -->
    <insert id="insertTeacher">
        INSERT INTO TEACHER (
            MEMBER_ID
        )
        VALUES (
            #{memberId}
        )
    </insert>

    <!-- 회원 인적사항 변경 -->
    <update id="changeMemberData">
        UPDATE MEMBER
        SET MEMBER_NAME = #{memberName}
            , MEMBER_TEL = #{memberTel}
            , MEMBER_EMAIL = #{memberEmail}
            , POST_CODE = #{postCode}
            , MEMBER_ADDR = #{memberAddr}
            , ADDR_DETAIL = #{addrDetail}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <!-- 반 생성 -->
    <insert id="makeCls">
        INSERT INTO CLASS_INFO (
            CLASS_NAME
            , CLASS_PAYMENT
            , CLASS_PERSONNEL
            , CLASS_SDATE
            , CLASS_EDATE
        ) VALUES (
            #{className}
            , #{classPayment}
            , #[classPersonnel}
            , #{classSdate}
            , #{classEdate}
        )
    </insert>

    <!-- 근무 상태 변경 재직/퇴직 -->
    <update id="changeAttendance">
        UPDATE TEACHER
        SET WORK_NUM = #{atdName}
        WHERE MEMBER_ID = #{memberId}
    </update>
</mapper>































