<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="clsMapper">
    <resultMap id="cls" type="com.green.Team3.cls.vo.ClsVO">
        <id     column="CLASS_NUM"          property="classNum"/>
        <result column="CLASS_NAME"         property="className"/>
        <result column="CLASS_PAYMENT"      property="classPayment"/>
        <result column="CLASS_PERSONNEL"    property="classPersonnel"/>
        <result column="CLASS_SDATE"        property="classSdate"/>
        <result column="CLASS_EDATE"        property="classEdate"/>
        <result column="CLASS_ENTER"        property="classEnter"/>
        <result column="CLASS_STATUS"       property="classStatus"/>
        <result column="TEACHER_NUM"        property="teacherNum"/>
        <collection property="memberVOList" resultMap="member.memberMap"/>
    </resultMap>

    <!-- 해당 학생의 수강 목록 전체 조회 -->
    <select id="selectClasses" resultMap="cls">
        SELECT CLASS_NUM
            , CLASS_NAME
            , CLASS_PERSONNEL
            , CLASS_SDATE
            , CLASS_EDATE
            , CLASS_ENTER
            , CLASS_STATUS
            , CLS.TEACHER_NUM
            , MEMBER.MEMBER_NAME
        FROM CLASS_INFO CLS INNER JOIN TEACHER
        ON CLS.TEACHER_NUM = TEACHER.TEACHER_NUM
        INNER JOIN MEMBER
        ON MEMBER.MEMBER_ID = TEACHER.MEMBER_ID
        WHERE MEMBER.MEMBER_ID = #{memberId}
        AND NOW() > CLASS_EDATE
        ORDER BY CLASS_EDATE DESC
    </select>

</mapper>































