<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="learnMapper">
    <resultMap id="attendanceType" type="com.green.Team3.learn.vo.AttendanceTypeVO">
        <id column="ATDT_NUM" property="atdtNum"/>
        <result column="ATDT_NAME" property="atdtName"/>
    </resultMap>
    <!-- 출결 리스트 조회 -->
    <select id="selectAtd" resultMap="attendanceType">
        SELECT  ATDT_NUM,
                ATDT_NAME
        FROM ATTENDANCE_TYPE
        ORDER BY ATDT_NUM ASC
    </select>
    <!-- 과제 추가 테이블 -->
    <insert id="homeworkAdd">
        INSERT INTO HOMEWORK (
        HW_NAME,
        HW_SDATE,
        HW_EDATE,
        CLASS_NUM
        ) VALUES (
        #{hwName},
        #{hwSdate},
        #{hwEdate},
        #{classNum}
        );
    </insert>

    <select id="selectClassByThisTeacher" resultMap="clsMapper.cls">
        SELECT CLASS_NAME, C.CLASS_NUM
        FROM CLASS_INFO C
        INNER JOIN TEACHER T
        ON C.CLASS_NUM = T.CLASS_NUM
        WHERE MEMBER_ID = #{memberId}
    </select>
</mapper>































