<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="member">
    <resultMap id="memberMap" type="com.green.Team3.member.vo.MemberVO">
        <id     column="MEMBER_ID"                       property="memberId"/>
        <result column="MEMBER_PW"                       property="memberPw"/>
        <result column="MEMBER_NAME"                     property="memberName"/>
        <result column="MEMBER_TEL"                      property="memberTel"/>
        <result column="MEMBER_EMAIL"                    property="memberEmail"/>
        <result column="MEMBER_AGE"                      property="memberAge"/>
        <result column="MEMBER_ADDR"                     property="memberAddr"/>
        <result column="ADDR_DETAIL"                     property="addrDetail"/>
        <result column="MEMBER_GENDER"                   property="memberGender"/>
        <result column="REG_DATE"                        property="regDate"/>
        <result column="CLASS_NUM"                       property="classNum"/>
        <result column="MEMBER_ROLL"                     property="memberRoll"/>
        <result column="POST_CODE"                       property="postCode"/>

    </resultMap>

    <!-- 회원가입 -->
    <insert id="join">
        INSERT INTO MEMBER(
        MEMBER_ID
        , MEMBER_PW
        , MEMBER_NAME
        , MEMBER_TEL
        , MEMBER_EMAIL
        , MEMBER_AGE
        , MEMBER_ADDR
        , ADDR_DETAIL
        , MEMBER_GENDER
        , POST_CODE
        )VALUES(
        #{memberId}
        , #{memberPw}
        , #{memberName}
        , #{memberTel}
        , #{memberEmail}
        , #{memberAge}
        , #{memberAddr}
        , #{addrDetail}
        , #{memberGender}
        , #{postCode}
        )
    </insert>

    <!-- 로그인 -->
    <select id="login" resultMap="memberMap">
        SELECT MEMBER_ID
            , MEMBER_NAME
            , member_roll
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
        AND MEMBER_PW = #{memberPw}
    </select>







</mapper>































