<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="member">
    <resultMap id="memberMap" type="com.green.Team3.member.vo.MemberVO">
        <id     column="MEMBER_ID"      property="memberId"/>
        <result column="MEMBER_PW"      property="memberPw"/>
        <result column="MEMBER_NAME"    property="memberName"/>
        <result column="MEMBER_TEL"     property="memberTel"/>
        <result column="MEMBER_EMAIL"   property="memberEmail"/>
        <result column="MEMBER_BIRTH"     property="memberBrith"/>
        <result column="MEMBER_GENDER"  property="memberGender"/>
        <result column="MEMBER_ADDR"    property="memberAddr"/>
        <result column="ADDR_DETAIL"    property="addrDetail"/>
        <result column="POST_CODE"      property="postCode"/>
        <result column="REG_DATE"       property="regDate"/>
        <result column="MEMBER_ROLL"    property="memberRoll"/>
        <result column="STR_ROLL"       property="strRoll"/>
        <result column="check"          property="check"/>
        <result column="absent"         property="absent"/>
        <result column="tardy"          property="tardy"/>
        <result column="early"          property="early"/>
        <result column="supple"         property="supple"/>
        <collection property="operatorVOList"    resultMap="admin.operator"/>
    </resultMap>

    <resultMap id="rollType" type="com.green.Team3.member.vo.RollTypeVO">
        <id column="MEMBER_ROLL" property="memberRoll"/>
        <result column="ROLL_NAME" property="rollName"/>
    </resultMap>

    <!-- 전체 회원 목록 조회 -->
    <select id="selectMembers" resultMap="memberMap">
        SELECT M.MEMBER_ID
            , MEMBER_NAME
            , MEMBER_BIRTH
            , MEMBER_ROLL
            , LEFT(REG_DATE, 16) REG_DATE
            , CASE
                WHEN MEMBER_ROLL = 1 THEN '학생'
                WHEN MEMBER_ROLL = 2 THEN '강사'
                WHEN MEMBER_ROLL = 3 THEN '관리'
            END AS STR_ROLL
            , OPER_NUM
            , IS_PAY
        FROM MEMBER M LEFT JOIN OPERATOR O
        ON M.MEMBER_ID = O.MEMBER_ID
        <if test="searchType != null and !searchType.equals('')">
            WHERE MEMBER_ROLL = ${searchType}
        </if>
        ORDER BY MEMBER_NAME
    </select>

    <!-- memberRoll 리스트 보기 -->
    <select id="rollList" resultMap="rollType">
        SELECT ROLL_NAME
            , MEMBER_ROLL
        FROM ROLL_TYPE
        ORDER BY MEMBER_ROLL ASC
    </select>

    <!-- 선택한 회원 상세 정보 조회 (관리자용) -->
    <select id="memberDetail" resultMap="memberMap">
        SELECT MEMBER_ID
            , MEMBER_NAME
            , MEMBER_BIRTH
            , MEMBER_TEL
            , MEMBER_ROLL
            , MEMBER_ADDR
            , ADDR_DETAIL
            , POST_CODE
            , MEMBER_EMAIL
            , MEMBER_GENDER
            , CASE
                WHEN MEMBER_ROLL = 1 THEN '학생'
                WHEN MEMBER_ROLL = 2 THEN '강사'
                WHEN MEMBER_ROLL = 3 THEN '관리'
            END AS STR_ROLL
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>


    <!-- 회원가입 -->
    <insert id="join">
        INSERT INTO MEMBER(
            MEMBER_ID
            , MEMBER_PW
            , MEMBER_NAME
            , MEMBER_TEL
            , MEMBER_EMAIL
            , MEMBER_BIRTH
            , MEMBER_ADDR
            , ADDR_DETAIL
            , MEMBER_GENDER
            , POST_CODE
        )VALUES(
            #{memberId}
            , #{memberPw}
            , #{memberName}
            , #{memberTel}
            , #{memberEmail}
            , #{memberBirth}
            , #{memberAddr}
            , #{addrDetail}
            , #{memberGender}
            , #{postCode}
        )
    </insert>
    <!-- 아이디 중복 확인 -->
<!--    <select id="idCheck" resultType="boolean">-->
<!--        SELECT COUNT(*)-->
<!--        FROM MEMBER-->
<!--        WHERE MEMBER_ID = #{memberId}-->
<!--    </select>-->

    <!-- 로그인 -->
    <select id="login" resultMap="memberMap">
        SELECT MEMBER_ID
            , MEMBER_PW
            , MEMBER_ROLL
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <!-- 카드 결제 신청 시, 결제창에 띄울 정보 검색 -->
    <select id="requestPayInfo" resultMap="clsMapper.cls">
        SELECT M.MEMBER_ID
            , MEMBER_NAME
            , MEMBER_EMAIL
            , MEMBER_TEL
            , MEMBER_ADDR
            , ADDR_DETAIL
            , POST_CODE
            , CLASS_NAME
            , CLASS_PAYMENT
            , CI.CLASS_NUM
            , OPER_NUM
        FROM class_info CI LEFT JOIN operator O
        ON CI.CLASS_NUM = O.CLASS_NUM
        INNER JOIN member M
        ON M.MEMBER_ID = O.MEMBER_ID
        WHERE M.MEMBER_ID = #{memberId}
        AND CI.CLASS_NUM = #{classNum}
    </select>

    <!--  아이디찾기  -->
    <select id="findId" resultType="String">
        SELECT MEMBER_ID FROM member
        WHERE MEMBER_NAME = #{memberName}
        AND MEMBER_TEL = #{memberTel}
    </select>

    <select id="getMemberEmail" resultType="String">
        SELECT MEMBER_EMAIL FROM member
        WHERE MEMBER_ID = #{memberId}
        AND MEMBER_NAME = #{memberName}
    </select>
    <update id="updateMemberPw">
        UPDATE MEMBER SET
        MEMBER_PW = #{memberPw}
        WHERE MEMBER_ID = #{memberId}
    </update>
    <select id="selectMyInformation" resultMap="memberMap">
        SELECT
            MEMBER_ID,
            MEMBER_NAME,
            MEMBER_TEL,
            MEMBER_EMAIL,
            MEMBER_BIRTH,
            MEMBER_ADDR,
            ADDR_DETAIL
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

</mapper>































