<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="testMapper">



    <resultMap id="testResult" type="com.green.Team3.test.vo.TestVO">
        <id column="TEST_NUM" property="testNum"/>
        <result column="TEST_NAME" property="testName"/>
        <result column="TEST_DATE" property="testDate"/>
        <result column="TEST_MAXSCORE" property="testMaxScore"/>
        <result column="CLASS_NUM" property="classNum"/>
        <collection property="studentListVO" resultMap="admin.operator"/>
    </resultMap>

    <resultMap id="scoreResult" type="com.green.Team3.test.vo.TestScoreVO">
    <id column="SCORE_NUM" property="scoreNum"/>
    <result column="SCORE" property="score"/>
    <result column="TEST_NUM" property="testNum"/>
    <result column="MEMBER_ID" property="memberId"/>
    <result column="RANKING" property="ranking"/>
    <result column="SUB_TEST_NUM" property="subTestNum"/>
    <association property="memberOneVO" resultMap="member.memberMap"/>
    <association property="testOneVo" resultMap="testResult"/>
    <association property="testSubOneVO" resultMap="subResult"/>
    </resultMap>

    <resultMap id="subResult" type="com.green.Team3.test.vo.TestSubjectVO">
        <id column="SUB_TEST_NUM"       property="subTestNum" />
        <result column="SUB_NAME"           property="subName" />
        <result column="SUB_MAXSCORE"       property="subMaxScore" />
        <result column="TEST_NUM"           property="testNum" />
        <association property="testOneVO"      resultMap="testResult"/>
    </resultMap>


    <!-- 강사의 강의목록 조회   -->
    <select id="selectTeacherClassList" resultMap="clsMapper.cls">
        SELECT
        CLASS_NUM
        , TE.TEACHER_NUM
        , CLASS_NAME
        , CLASS_PERSONNEL
        , CLASS_SDATE
        , CLASS_EDATE
        , CLASS_ENTER
        , MEMBER_ID
        FROM CLASS_INFO CI
        INNER JOIN TEACHER TE
        ON CI.TEACHER_NUM= TE.TEACHER_NUM
        WHERE TE.MEMBER_ID= #{memberId}
    </select>


    <select id="selectClassStuCnt" resultMap="clsMapper.cls">
        SELECT
            CI.CLASS_NUM
            , TE.MEMBER_ID
            , TE.TEACHER_NUM
        FROM class_info CI
        INNER JOIN operator OP
        ON CI.CLASS_NUM=OP.CLASS_NUM
        INNER JOIN TEACHER TE
        ON CI.TEACHER_NUM= TE.TEACHER_NUM
        WHERE TE.MEMBER_ID= #{memberId}
    </select>



    <!--   평가명 목록조회 -->
    <select id="selectTest" resultMap="testResult">
        SELECT
        TEST_NAME
        , TEST_DATE
        , TEST_MAXSCORE
        , CLASS_NUM
        , TEST_NUM
        FROM TEST
        WHERE CLASS_NUM = #{classNum}
        ORDER BY TEST_NUM DESC
    </select>



    <!-- 평가명 추가   -->
    <insert id="insertTest">
        INSERT INTO test (
        TEST_NAME
        , TEST_DATE
        , TEST_MAXSCORE
        , CLASS_NUM
        )VALUES(
        #{testName}
        , #{testDate}
        , #{testMaxScore}
        , #{classNum}
        )
    </insert>

    <!-- /////////////////////////////////////////////////-->
    <!-- CLASS_NUM 으로 받는  학생이름 조회  -->
    <select id="selectStuName" resultMap="member.memberMap">
        SELECT
        MEM.MEMBER_ID
        , MEMBER_NAME
        , OP.CLASS_NUM
        FROM member MEM
        INNER JOIN operator OP
        ON MEM.MEMBER_ID=OP.MEMBER_ID
        WHERE OP.CLASS_NUM= #{classNum}
        ORDER BY MEM.MEMBER_NAME ASC
    </select>

    <!--  테스트 목록에서 조회. 등록버튼 클릭시 학생 성적 조회  -->
    <select id="selectTestScore" resultMap="scoreResult">
        SELECT
        TS.TEST_NUM
        ,TEST_NAME
        , SCORE
        , TS.MEMBER_ID
        , MEMBER_NAME
        , TEST_MAXSCORE
        , SCORE_NUM
        , CLASS_NUM
        , DENSE_RANK()
        OVER (ORDER BY SCORE DESC) AS RANKING
        FROM test_score TS
        INNER JOIN test TT
        ON TS.TEST_NUM= TT.TEST_NUM
        INNER JOIN member MEM
        ON MEM.MEMBER_ID=TS.MEMBER_ID
        WHERE TS.TEST_NUM= #{testNum}

    </select>

    <!--  성적 등록 버튼 틀릭 시 저장 -->
    <insert id="insertStuScore">
        INSERT INTO TEST_SCORE (
        SCORE
        , TEST_NUM
        , MEMBER_ID
        )SELECT
        #{score}
        , #{testNum}
        , #{memberId}
        FROM DUAL
        WHERE NOT EXISTS(
        SELECT
        TEST_NUM
        , MEMBER_ID
        FROM test_score
        WHERE TEST_NUM=#{testNum} AND MEMBER_ID=#{memberId}
        )
    </insert>


    <!-- ////////////// 시험 성적 통계 조회 ////////////////////////// -->
    <!--classNum으로 받는  반 학생들 성적조회  -->
    <select id="totalStuScoreSelect" resultMap="scoreResult">
        SELECT
        MEMBER_ID
        , TT.TEST_NUM
        , SCORE
        , TT.CLASS_NUM
        FROM test_score TS
        INNER JOIN test TT
        ON TS.TEST_NUM = TT.TEST_NUM
        WHERE TT.CLASS_NUM = #{classNum}
        ORDER BY TEST_NUM ASC
    </select>

    <!--  시험명  -->
    <select id="totalTestSelect" resultMap="testResult">
        SELECT
        TEST_NUM
        , TEST_NAME
        , CLASS_NUM
        FROM test
        WHERE CLASS_NUM = #{classNum}
        ORDER BY TEST_NUM ASC
    </select>



    <!--  성적 등록 란에서 학생명, 시험지명 조회만   -->
    <select id="memNumInfo" resultMap="member.memberMap">
        SELECT
        MEM.MEMBER_ID
        , MEMBER_NAME
        , TT.CLASS_NUM
        , TT.TEST_NUM
        , TEST_NAME
        FROM member MEM
        INNER JOIN operator OP
        ON MEM.MEMBER_ID= OP.MEMBER_ID
        INNER JOIN test TT
        ON OP.CLASS_NUM= TT.CLASS_NUM
        WHERE TT.TEST_NUM= #{testNum}
        ORDER BY MEM.MEMBER_NAME ASC
    </select>

    <!--   테스트넘버 쓸려고..성적입력페이지에서     -->
    <select id="testNumInfo" resultMap="testResult">
        SELECT
        TEST_NUM
        ,TEST_NAME
        , CLASS_NUM
        FROM test
        WHERE test_NUM =#{testNum}
    </select>

    <!--   클래스넘버 쓸려고..성적입력페이지에서     -->

    <select id="onlyClassNum" resultMap="clsMapper.cls">
        SELECT
         CLASS_NUM
        , CLASS_NAME
        FROM CLASS_INFO
        WHERE CLASS_NUM=#{classNum}
    </select>


    <!--  점수 수정 업데이트   -->

    <update id="updateScore"  parameterType="java.util.List" >

        UPDATE test_score
        SET
        SCORE = #{score}
        WHERE Score_Num= #{scoreNum}

    </update>



    <!-- 테스트 검색란  -->
    <select id="searchTestList" resultMap="testResult">
        SELECT
        TEST_NUM
        , TEST_NAME
        , CLASS_NUM
        , TEST_DATE
        , TEST_MAXSCORE
        FROM test
        WHERE 1=1
        AND CLASS_NUM= #{classNum}
        <if test='searchValue != null and !searchValue.equals("")'>
            AND ${searchTestType} LIKE CONCAT ('%',#{searchValue},'%')
        </if>
        <if test='searchFromDate !=null and !searchFromDate.equals("")'>
            AND DATE_FORMAT(TEST_DATE,'%Y-%m-%d') &gt;= #{searchFromDate}
        </if>
        <if test='searchToDate!=null and !searchFromDate.equals("")'>
            AND DATE_FORMAT(TEST_DATE,'%Y-%m-%d') &lt;= #{searchToDate}
        </if>
        ORDER BY TEST_DATE DESC
    </select>




<!-- ///////////////////////////////////////////////////////////////// -->
    <!-- sub 정보가 있으면  sub 입력페이지 이동 -->
    <select id="subSelect" resultMap="subResult">
        SELECT
        SUB_TEST_NUM
        , TEST_NUM
        , SUB_NAME
        FROM test_subject
        WHERE test_NUM=#{testNum}
    </select>

    <!--   학생수 계산하기  -->
    <select id="stuCnt" resultMap="member.memberMap">
        SELECT
            MEM.MEMBER_ID,
            MEMBER_NAME,
            CLASS_NUM,
            MEM.MEMBER_ID
        FROM member MEM
        INNER JOIN operator OP
        ON MEM.MEMBER_ID=OP.MEMBER_ID
        WHERE OP.CLASS_NUM= #{classNum}
    </select>


<!-- 과목있음 선택시 테스트명, 날짜만 저장 -->
    <insert id="subMainTestInsert">
        INSERT INTO test (
        TEST_NAME
        , TEST_DATE
        , CLASS_NUM
        )VALUES(
        #{testName}
        , #{testDate}
        , #{classNum}
        )
    </insert>



    <!--  과목저장  -->
    <insert id="insertSub">
        INSERT INTO TEST_SUBJECT(
        SUB_NAME
        , SUB_MAXSCORE
        , TEST_NUM
        )VALUES(
        #{subName}
        ,#{subMaxScore}
        ,#{testNum}
        )
    </insert>

    <!--  과목목록 조회  -->

    <select id="selectSubList" resultMap="subResult">
        SELECT
        SUB_TEST_NUM
        , TEST_NUM
        , SUB_NAME
        , SUB_MAXSCORE
        FROM test_subject
        WHERE test_NUM=#{testNum}
    </select>



    <!--  과목별 저장   -->
    <!--  성적 등록 버튼 틀릭 시 저장 -->
    <insert id="insertSubScore">
        INSERT INTO TEST_SCORE(
        SCORE
        , TEST_NUM
        , MEMBER_ID
        , SUB_TEST_NUM
        )VALUES(
        #{score}
        , #{testNum}
        , #{memberId}
        , #{subTestNum}
        )
    </insert>

    <!--   모달 과목저장할때 테스트넘버 쓸려고..    -->
    <select id="testNumInfo2" resultMap="testResult">
        SELECT
        TEST_NUM
        ,TEST_NAME
        , CLASS_NUM
        , TEST_MAXSCORE
        FROM test
        WHERE test_NUM =#{testNum}
    </select>



</mapper>































