<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/content/admin/admin_teacher.css">
</th:block>

<th:block layout:fragment="contentFragment">

    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col-5">
            <div class="row mb-3">
                <div class="col">
                    <h5>직원 목록</h5>
                    <input type="hidden" th:value="${updateTeacherNum}" id="updateTeacherNum">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <span class="text-end span-div"> * 총 [[${#lists.size(teacherList)}]]명의 직원이 있습니다.</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row text-center thead-div" style="width: 100%;">
                        <div class="col-2">No</div>
                        <div class="col-2">이름</div>
                        <div class="col-4">근무시작일</div>
                        <div class="col-4">근무 현황</div>
                    </div>
                    <div class="row table-div scroll-div pointer-span" style="width: 100%;" th:each="teacher, state : ${teacherList}" th:onclick="teacherInfo([[${teacher.teacherNum}]])">
                        <div class="col-2 tbody">[[${#lists.size(teacherList) - state.index}]]</div>
                        <div class="col-2 tbody">[[${teacher.memberVO.memberName}]]</div>
                        <div class="col-4 tbody">[[${teacher.memberVO.regDate}]]</div>
                        <div class="col-4 tbody">[[${teacher.strWork}]]</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-7">
            <div class="row">

                <div class="col">
                    <h5>선생님 list</h5>
                    
                </div>
            </div>
            <div class="row mt-2">
                <div class="col teacher-list-div">
                    <!-- <form action=""> -->
                    
                    
                <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/admin/admin_teacher.js"></script>
</th:block>
</html>