<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">반 이름</div>
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="col">학급 수강료</div>
                <div class="col">
                    <input type="number">
                </div>
            </div>
            <div class="row">
                <div class="col">학급 정원</div>
                <div class="col">
                    <input type="number" min="0" max="20">
                </div>
            </div>
            <div class="row">
                <div class="col">시작일</div>
                <div class="col">
                    <input type="date">
                </div>
                <div class="col">종료일</div>
                <div class="col">
                    <input type="date">
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>