<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <form action="/admin/makeClass" method="post">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">반 이름</div>
                            <div class="col">
                                <input type="text" name="className">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">학급 수강료</div>
                            <div class="col">
                                <input type="number" name="classPayment">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">학급 정원</div>
                            <div class="col">
                                <input type="number" min="0" max="20" name="classPersonnel">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">시작일</div>
                            <div class="col">
                                <input type="date" name="classSdate">
                            </div>
                            <div class="col">종료일</div>
                            <div class="col">
                                <input type="date" name="classEdate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">담당 강사</div>
                            <div class="col-5">
                                <select name="teacherNum">
                                    <option  th:each="teacher : ${teachers}" th:value="${teacher.teacherNum}">[[${teacher.memberVO.memberName}]]</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-2 d-grid">
                                <input type="submit" class="btn btn-outline-primary" value="생성">
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mt-3">
                <div class="col">
                    <table class="table text-center align-middle">
                        <colgroup>
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                        </colgroup>
                        <thead class="table-primary">
                            <tr>
                                <td>No.</td>
                                <td>반 이름</td>
                                <td>정원수</td>
                                <td>담당 강사</td>
                                <td>상세보기</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#lists.isEmpty(clsList)}">
                                <td colspan="5">조회된 반 정보가 없습니다.</td> 
                            </tr>
                            <tr th:unless="${#lists.isEmpty(clsList)}" th:each="cls, state : ${clsList}">
                                <td>[[${searchVO.totalDataCnt -(searchVO.displayDataCnt * (searchVO.nowPage - 1)) - state.index}]]</td>
                                <td>[[${cls.className}]]</td>
                                <td>[[${cls.classPersonnel}]]</td>
                                <td>[[${cls.teacherVO.memberVO.memberName}]]</td>
                                <td>
                                    <input class="btn btn-outline-primary" type="button" value="상세보기" th:onclick="changeClsInfo([[${cls.classNum}]])">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 페이징 코드 -->
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <th:block th:if="${searchVO.prev}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/admin/makeClassForm(nowPage=${searchVO.beginPage - 1})}"  aria-label="Previous" style="color: rgb(116, 116, 116)">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                </th:block>
                                <th:block th:each="i : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}"> 
                                    <!-- 공지사항 목록에서 선택한 페이지 + 조회한 검색 데이터 함께 가져옴 -->   
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/admin/makeClassForm(nowPage=${i})}" style="color: rgb(116, 116, 116)">
                                            [[${i}]]
                                        </a>
                                    </li>
                                </th:block>
                                <th:block th:if="${searchVO.next}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/admin/makeClassForm(nowPage=${searchVO.endPage + 1})}" aria-label="Next" style="color: rgb(116, 116, 116)">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </nav>
                    </div>
                </div>

        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/admin/make_class_form.js"></script>
</th:block>
</html>