<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <table>
                        <colgroup>
                            <col width="20%">
                        </colgroup>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-hover text-center">
                        <colgroup>
                            <col width="10%">
                            <col width="20%">
                            <col width="15%">
                            <col width="15%">
                            <col width="40%">
                        </colgroup>
                        <thead class="table-primary">
                            <tr>
                                <td>No.</td>
                                <td>이름</td>
                                <td>나이</td>
                                <td>소속(학생/선생)</td>
                                <td>수납일</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="member, state : ${memberList}" class="pointer-span align-middle">
                                <td>[[${#lists.size(memberList) - state.index}]]</td>
                                <td>[[${member.memberName}]]</td>
                                <td>[[${member.memberAge}]]</td>
                                <td>[[${member.strRoll}]]
                                    <select name="memberRoll" class="form-select" aria-label="Default select example">
                                        <option th:each="roll : ${rollList}" th:selected="${roll.strRoll == 'STR_ROLL'}" th:value="${roll.memberRoll}">[[${list.strRoll}]]</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" th:onclick="memberDetail([[${member.memberId}]])">인적사항</button>
                                    <button type="button" class="btn btn-outline-success">수강목록</button>
                                    <button type="button" class="btn btn-outline-danger">학급관리</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
  <div class="modal fade modal-lg" id="member-detail-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">회원 상세 정보</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
                <div class="row" >
                    <div class="col" id="table-head">
                        <table class="table align-middle text-center">
                            <colgroup>
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                            </colgroup>
                            <tbody class="tbody-tag">
                                <tr>
                                    <td class="table-active">이름(학생번호)</td>
                                    <td id="modal-memberName">김자바(1)</td>
                                    <td class="table-active">나이</td>
                                    <td id="modal-memberAge">18</td>
                                </tr>
                                <tr>
                                    <td class="table-active">연락처</td>
                                    <td id="modal-memberTel">010-3333-2222</td>
                                    <td class="table-active">소속</td>
                                    <td id="modal-memberRoll">
                                        <input type="radio" class="form-check-input" name="memberRoll" value="1" id="memberRoll-select"> 학생
                                        <input type="radio" class="form-check-input" name="memberRoll" value="2"> 강사
                                        <input type="radio" class="form-check-input" name="memberRoll" value="3"> 관리

                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-active">주소</td>
                                    <td colspan="3" id="modal-memberAddr">울산시 남구 삼산동 654-1 업스퀘어</td>

                                </tr>
                                <tr>
                                    <td class="table-active">반이름</td>
                                    
                                    <td id="modal-buyPrice">
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td class="table-active">등록일</td>
                                    <td id="modal-buyDate">2024-03-04</td>
                                </tr>
                                <tr>
                                    <td class="table-active">상태</td>
                                    <td colspan="3" id="modal-buyPrice">
                                        <input type="radio" name="memberRoll" value="1">재직
                                        <input type="radio" name="memberRoll" value="2">퇴직
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2 d-grid">
                        <input type="button" value="변경" class="btn btn-primary" th:onclick="modalDetail()">
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/admin/member_list.js"></script>
</th:block>
</html>