<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/integrated_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <div class="offset-2 row">
                <div class="col-2" style="font-size: 20px; font-weight: bold;">총 매출</div>
                <div class="col-2 money-td" style="font-size: 18px;"></div>
            </div>
            <div class=" row">
                <div class="col mt-3">
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-2" style="text-align: right;">
                            <select name="payYear" onchange="eventYear()">
                                <option th:each="year : ${years}" th:value="${year.payYear}">[[${year.payYear}]]년</option>
                            </select>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <canvas class="bar-chart-div">
                        <div></div>
                    </canvas>
                </div>
            </div>

            
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/content/admin/sales_manage.js"></script>
</th:block>
</html>